# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

.vscode/
*.code-workspace

# Local History for Visual Studio Code
.history/
.mypy_cache
