.signup-login-input-field {
    padding: 12px;
    align-items: flex-start;
    display: block;
    box-sizing: border-box;
    margin-top: 24px;
    border-color: #0085FF;
    outline-color: #0085FF;
}

.lsignup-login-image {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    align-self: stretch;
}

.login-button {
    background-color: #0085FF;
    box-sizing: border-box;
    border: none;
    outline-color: #0085FF;
    color: #fff;
    padding: 12px;
    margin-top: 12px;
}

.middle-message {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 36px;
    padding-inline: 12px;
}

.signup-login-form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    align-self: stretch;
    padding-inline: 12px;
}

.signup-button {
    background-color: #0085FF;
    box-sizing: border-box;
    border: none;
    outline-color: #0085FF;
    color: #fff;
    padding: 12px;
    margin-top: 12px;
}

.signup-login-image {
    height: 170px;
    flex-shrink: 0;
    object-fit: contain;
    object-position: center;
}

.form-wrapper {
    max-width: 600px;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}